<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>云作业-教师端</title>

    <!--引入vue框架-->
    <script src="../../framework/vue/vue.js" type="text/javascript" charset="utf-8"></script>
    <!--引入element UI样式和组件-->
    <link href="../../framework/element/index.css" rel="stylesheet" type="text/css">
    <script src="../../framework/element/index.js" type="text/javascript" charset="utf-8"></script>
    <!--引入axios框架-->
    <script src="../../framework/axios/axios.js" type="text/javascript" charset="utf-8"></script>
    <!--引入当前页面样式-->
    <link href="clase.css" rel="stylesheet" type="text/css">
    <!--引入请求相关文件-->
    <script src="../../api/clase.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../api/common.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/request.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

<div id="vue">

    <el-container id="container">
        <!--主标题栏开始-->
        <el-header id="header" style="text-align: left; font-size: 12px">
            <span style="color: #fff; font-size: 20px">云作业管理系统--教师端</span>
        </el-header>
        <!--主标题栏结束-->
        <!--主页开始-->
        <el-container id="main">
            <!--主页侧边栏开始-->
            <el-aside id="aside" width="250px">
                <!--用户容器开始-->
                <div id="aside-user" @click="skipUser">
                    <!--用户头像开始-->
                    <el-avatar id="aside-userPortrait" :size="80"
                               :src="getImage(loginUser.accountPortrait)"></el-avatar>
                    <!--用户头像结束-->
                    <div id="aside-user-name-box">
                        <span class="name">{{loginUser.userName}}</span>
                        <span class="text1">老师</span>
                        <br>
                        <span class="text2">欢迎回来!</span>
                    </div>
                </div>
                <!--用户容器结束-->
                <div id="cut-off"></div>
                <!--主页菜单开始-->
                <el-menu id="aside-menu"
                         default-active="4"
                         @select="handleSelect"
                         class="el-menu-vertical-demo"
                         background-color="#353741"
                         text-color="#fff"
                         active-text-color="#62A1A4">
                    <el-menu-item class="item" index="1" :disabled="isAdmin">
                        <i class="el-icon-service"></i>
                        <span class="text" slot="title">教师管理</span>
                    </el-menu-item>
                    <el-menu-item class="item" index="2" :disabled="isAdmin">
                        <i class="el-icon-user"></i>
                        <span class="text" slot="title">学生管理</span>
                    </el-menu-item>
                    <el-menu-item class="item" index="3">
                        <i class="el-icon-date"></i>
                        <span class="text" slot="title">课程管理</span>
                    </el-menu-item>
                    <el-menu-item class="item" index="4">
                        <i class="el-icon-tickets"></i>
                        <span class="text" slot="title">班级管理</span>
                    </el-menu-item>
                    <el-menu-item class="item" index="5">
                        <i class="el-icon-edit-outline"></i>
                        <span class="text" slot="title">作业管理</span>
                    </el-menu-item>
                    <el-menu-item class="item" index="6">
                        <i class="el-icon-setting"></i>
                        <span class="text" slot="title">账号信息</span>
                    </el-menu-item>
                    <el-menu-item class="item" index="7">
                        <i class="el-icon-back"></i>
                        <span class="text" slot="title">退出系统</span>
                    </el-menu-item>
                </el-menu>
                <!--主页菜单结束-->
                <div id="fill"></div>
            </el-aside>
            <!--主页侧边栏结束-->


            <!--主页内容开始-->
            <el-main>
                <!--面包屑导航开始-->
                <div id="breadcrumb-box">
                    <el-breadcrumb separator-class="el-icon-arrow-right">
                        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                        <el-breadcrumb-item :to="{ path: '/' }"><a @click="goBack">班级管理</a>
                        </el-breadcrumb-item>
                        <el-breadcrumb-item :to="{ path: '/' }" v-if="addPageBreadcrumbShow">新增班级
                        </el-breadcrumb-item>
                        <el-breadcrumb-item :to="{ path: '/' }" v-if="editPageBreadcrumbShow">编辑班级
                        </el-breadcrumb-item>
                        <el-breadcrumb-item :to="{ path: '/' }" v-if="detailPageBreadcrumbShow">班级详情
                        </el-breadcrumb-item>
                    </el-breadcrumb>
                </div>
                <!--面包屑导航结束-->


                <!--列表表格容器开始-->
                <el-card id="list" class="box-card" v-if="listPageShow">
                    <!--标题开始-->
                    <div id="list-title" slot="header" class="clearfix">
                        <span>班级管理</span>
                    </div>
                    <!--标题结束-->
                    <!--输入框开始-->
                    <el-input id="list-search_input"
                              placeholder="请输入查询内容"
                              v-model="searchValue"
                              clearable
                              @keyup.enter.native="handleSearch">
                    </el-input>
                    <!--输入框结束-->
                    <!--按钮组开始-->
                    <el-button id="list-search_button" type="primary" icon="el-icon-search"
                               @click="handleSearch">搜索
                    </el-button>
                    <el-button id="list-add_button" type="primary" @click="showAddPage">新增</el-button>
                    <!--按钮组开结束-->


                    <template>
                        <el-table id="list-table"
                                  :data="tableData"
                                  stripe
                                  style="width: 100%">
                            <el-table-column
                                    type="selection"
                                    width="55">
                            </el-table-column>
                            <el-table-column
                                    prop="claseName"
                                    label="班级名"
                                    width="180">
                            </el-table-column>
                            <el-table-column
                                    prop="timeOfEnrollment"
                                    label="入学时间"
                                    width="180">
                            </el-table-column>
                            <el-table-column
                                    prop="claseTeacherName"
                                    label="管理老师"
                                    width="180">
                            </el-table-column>
                            <el-table-column
                                    prop="claseLeaderName"
                                    label="班长"
                                    width="180">
                            </el-table-column>
                            <el-table-column label="操作">
                                <template slot-scope="scope">
                                    <el-button
                                            size="mini"
                                            @click="handleDetail(scope.$index, scope.row)">详情
                                    </el-button>
                                    <el-button
                                            size="mini"
                                            @click="handleEdit(scope.$index, scope.row)">编辑
                                    </el-button>
                                    <el-button
                                            size="mini"
                                            @click="handleDelete(scope.$index, scope.row)">删除
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>

                        <div id="list-pagination">
                            <el-pagination
                                    background
                                    layout="total , prev, pager, next , jumper"
                                    :total="total"
                                    :page-size="pageSize"
                                    :current-page="currentPage"
                                    @current-change="handleClaseCurrentChange">
                            </el-pagination>
                        </div>
                    </template>


                </el-card>
                <!--列表表格容器结束-->


                <!--添加表格容器开始-->
                <el-card id="add" class="box-card" v-if="addPageShow">
                    <!--标题开始-->
                    <div id="add-title" slot="header" class="clearfix">
                        <i class="el-icon-arrow-left" @click="goBack"></i>
                        <span id="add-title-span2">添加班级</span>
                    </div>
                    <!--标题结束-->
                    <div id="add-form">
                        <el-form ref="addForm" :model="form" :rules="rules" label-width="80px">
                            <el-form-item label="班级名" prop="claseName">
                                <el-input class="input" v-model="form.claseName"></el-input>
                            </el-form-item>
                            <el-form-item label="入学年份" prop="time">

                                <el-date-picker
                                        v-model="form.time"
                                        align="right"
                                        type="year"
                                        placeholder="选择入学年份">
                                </el-date-picker>
                            </el-form-item>
                            <el-form-item label="管理老师" prop="claseTeacherId">
                                <el-select v-model="form.claseTeacherId" placeholder="请选择管理老师">
                                    <el-option v-for="teacher in teacherList" :label="teacher.teacherName"
                                               :value="teacher.teacherId"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="班长" prop="claseLeaderId">
                                <el-select v-model="form.claseLeaderId" placeholder="请选择班长">
                                    <el-option v-for="student in studentList" :label="student.studentName"
                                               :value="student.studentId"></el-option>
                                    <el-option label="未定" value="0"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="包含课程" prop="courseIdList">
                                <el-checkbox-group v-model="form.courseIdList">
                                    <el-checkbox v-for="course in courseList" :label="course.courseId"
                                                 name="type">{{course.courseName}}
                                    </el-checkbox>
                                </el-checkbox-group>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="submitAddForm">提交</el-button>
                                <el-button @click="resetForm('ruleForm2')">重置</el-button>
                            </el-form-item>
                        </el-form>
                    </div>

                </el-card>
                <!--添加表格容器结束-->

                <!--修改表格容器开始-->
                <el-card id="edit" class="box-card" v-if="editPageShow">
                    <!--标题开始-->
                    <div id="edit-title" slot="header" class="clearfix">
                        <i class="el-icon-arrow-left" @click="goBack"></i>
                        <span id="edit-title-span2">编辑班级</span>
                    </div>
                    <!--标题结束-->
                    <div id="edit-form">
                        <el-form ref="editForm" :model="form" :rules="rules" label-width="80px">
                            <el-form-item label="班级名" prop="claseName">
                                <el-input class="input" v-model="form.claseName"></el-input>
                            </el-form-item>
                            <el-form-item label="入学年份" prop="time">

                                <el-date-picker
                                        v-model="form.time"
                                        align="right"
                                        type="year"
                                        placeholder="选择入学年份">
                                </el-date-picker>
                            </el-form-item>
                            <el-form-item label="管理老师" prop="claseTeacherId">
                                <el-select v-model="form.claseTeacherId" placeholder="请选择管理老师">
                                    <el-option v-for="teacher in teacherList" :label="teacher.teacherName"
                                               :value="teacher.teacherId"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="班长" prop="claseLeaderId">
                                <el-select v-model="form.claseLeaderId" placeholder="请选择班长">
                                    <el-option v-for="student in studentList" :label="student.studentName"
                                               :value="student.studentId"></el-option>
                                    <el-option label="未定" value="0"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="包含课程" prop="courseIdList">
                                <el-checkbox-group v-model="form.courseIdList">
                                    <el-checkbox v-for="course in courseList" :label="course.courseId"
                                                 name="type">{{course.courseName}}
                                    </el-checkbox>
                                </el-checkbox-group>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="submitEditForm">提交</el-button>
                                <el-button @click="resetForm('ruleForm2')">重置</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                </el-card>
                <!--修改表格容器结束-->


                <!--详情表格容器开始-->
                <el-card id="detail" class="box-card" v-if="detailPageShow">
                    <!--标题开始-->
                    <div id="detail-title" slot="header" class="clearfix">
                        <i class="el-icon-arrow-left" @click="goBack"></i>
                        <span id="detail-title-span2">班级详情</span>
                    </div>
                    <!--标题结束-->

                    <!--当前班级详情开始-->
                    <div id="detail-info">
                        <el-descriptions title="当前班级信息：" direction="vertical" :column="4" border>
                            <el-descriptions-item label="班级名">{{this.tableDetailData.claseName}}
                            </el-descriptions-item>
                            <el-descriptions-item label="入学时间">{{this.tableDetailData.timeOfEnrollment}}
                            </el-descriptions-item>
                            <el-descriptions-item label="管理老师">{{this.tableDetailData.claseTeacherName}}
                            </el-descriptions-item>
                            <el-descriptions-item label="班长">{{this.tableDetailData.claseLeaderName}}
                            </el-descriptions-item>
                        </el-descriptions>
                    </div>
                    <!--当前班级详情结束-->
                    <h4>&nbsp&nbsp&nbsp 当前班级包含课程：</h4>
                    <!--当前班级包含课程开始-->
                    <el-table id="detail-table"
                              :data="tableDetailData.courseList"
                              stripe
                              style="width: 100%">
                        <el-table-column
                                type="selection"
                                width="55">
                        </el-table-column>
                        <el-table-column
                                prop="courseName"
                                label="课程名"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="courseTeacherName"
                                label="任课老师"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="courseAddress"
                                label="上课地点"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="courseDescription"
                                label="课程描述">
                        </el-table-column>
                    </el-table>
                    <!--当前班级包含课程结束-->

                </el-card>
                <!--添加表格容器结束-->

            </el-main>
        </el-container>
        <!--主页结束-->
    </el-container>


</div>


<script>

    new Vue({
        el: "#vue",  //基本方式绑定元素
        data: {      //定义数据变量

            //当前登录的用户
            loginUser: {},
            //是否是管理员
            isAdmin: "",
            //搜索输入框内容
            searchValue: "",

            // 选项数据
            teacherList: [],
            courseList: [],
            studentList: [],

            //页面显示
            //列表页面显示
            listPageShow: true,

            //添加页面显示
            addPageShow: false,
            //添加页面面包屑显示
            addPageBreadcrumbShow: false,

            //编辑页面显示
            editPageShow: false,
            //编辑页面面包屑显示
            editPageBreadcrumbShow: false,

            //详情页面显示
            detailPageShow: false,
            //编辑页面面包屑显示
            detailPageBreadcrumbShow: false,


            //分页列表数据
            total: 0,
            pageSize: 10,
            currentPage: 0,
            pages: 0,
            //表格数据
            tableData: [],
            //添加/编辑课程表单数据
            form: {
                claseId: "",
                claseName: "",
                time: "",
                timeOfEnrollment: "",
                claseTeacherId: "",
                claseTeacherName: "",
                claseLeaderId: "",
                claseLeaderName: "",
                courseIdList: []
            },
            //班级详情数据
            tableDetailData: {},
            rules: {
                claseName: [
                    {required: true, message: '请输入班级名称', trigger: 'blur'},
                    {min: 1, max: 5, message: '长度在 1 到 5 个字符', trigger: 'blur'}
                ],
                time: [
                    {required: true, message: '请勾选入学年份', trigger: 'blur'},
                ],
                claseTeacherId: [
                    {required: true, message: '请勾选教师', trigger: 'blur'},
                ],
                claseLeaderId: [
                    {required: true, message: '请勾选班长', trigger: 'blur'},
                ],
                courseIdList: [
                    {required: true, message: '请勾选包含课程', trigger: 'blur'},
                ],
            },

        },
        methods: {

            //公共页面函数
            handleSelect(key) {

                switch (key) {
                    case "1":
                        window.location.href = "teacher.html";
                        break;
                    case "2":
                        window.location.href = "student.html";
                        break;
                    case "3":
                        window.location.href = "course.html";
                        break;
                    case "4":
                        window.location.href = "clase.html";
                        break;
                    case "5":
                        window.location.href = "homework.html";
                        break;
                    case "6":
                        window.location.href = "user.html";
                        break;
                    case "7":
                        this.logout();
                }

            },
            //从session中获取当前登录用户
            getUser: function () {
                //登录用户
                var loginUser = window.localStorage.getItem('loginUser');

                if (loginUser) {
                    loginUser = JSON.parse(loginUser);
                }
                if (loginUser.accountPortrait == null) {
                    loginUser.accountPortrait = "https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png";
                }
                console.log(loginUser);

                this.loginUser = loginUser;
            },

            // 清空表单数据函数
            clearFormData: function () {
                this.form = {
                    claseId: 0,
                    claseName: "",
                    time: "",
                    timeOfEnrollment: "",
                    claseTeacherId: "",
                    claseTeacherName: "",
                    claseLeaderId: "",
                    claseLeaderName: "",
                    courseIdList: [],
                }
            },
            //点击用户信息跳转函数
            skipUser: function () {
                window.location.href = "user.html";
            },


            //数据请求函数
            //候选数据函数
            getTeacherList: function () {
                var vueObj = this;
                getTeacherListAxios().then(
                    (response) => {
                        if (response.data.code === 1) {
                            vueObj.teacherList = response.data.data;
                        } else {
                            this.$message.error(response.data.msg)
                        }
                    }).catch((err) => {
                    this.$message.error('请求出错了：' + err);
                });
            },
            getClaseList: function () {
                var vueObj = this;
                getClaseListAxios().then(
                    (response) => {
                        if (response.data.code === 1) {
                            vueObj.claseList = response.data.data;
                        } else {
                            this.$message.error(response.data.msg)
                        }
                    }).catch((err) => {
                    this.$message.error('请求出错了：' + err);
                })
            },
            getStudentList: function () {
                var vueObj = this;
                getStudentListAxios().then(
                    (response) => {
                        if (response.data.code === 1) {
                            vueObj.studentList = response.data.data;
                        } else {
                            this.$message.error(response.data.msg)
                        }
                    }).catch((err) => {
                    this.$message.error('请求出错了：' + err);
                })
            },
            getCourseList: function () {
                var vueObj = this;
                getCourseListAxios().then(
                    (response) => {
                        if (response.data.code === 1) {
                            vueObj.courseList = response.data.data;
                        } else {
                            this.$message.error(response.data.msg)
                        }
                    }).catch((err) => {
                    this.$message.error('请求出错了：' + err);
                })
            },
            //获取服务器图片
            getImage(image) {
                return `/common/downloadImage?imageName=${image}`
            },


            //表格数据函数
            getClasePage: function () {
                var vueObj = this;
                getClasePageAxios(this.currentPage, this.pageSize, null).then(
                    (response) => {
                        if (response.data.code === 1) {
                            vueObj.tableData = response.data.data.records;
                            vueObj.total = response.data.data.total;
                            vueObj.pageSize = response.data.data.size;
                            vueObj.currentPage = response.data.data.current;
                            vueObj.pages = response.data.data.pages;
                        } else {
                            this.$message.error(response.data.msg)
                        }
                    }).catch((err) => {
                    this.$message.error('请求出错了：' + err);
                })
            },


            //表格单项详情数据函数
            getClaseDetailAxios: function (row) {
                var vueObj = this;
                getClaseDetailAxios().then(
                    (response) => {
                        if (response.data.code === 1) {
                            vueObj.tableDetailData = response.data.data;
                        } else {
                            this.$message.error(response.data.msg)
                        }
                    }).catch((err) => {
                    this.$message.error('请求出错了：' + err);
                });
            },
            //页面跳转函数
            //返回函数
            goBack: function () {
                this.listPageShow = true;
                this.addPageBreadcrumbShow = false;
                this.addPageShow = false;
                this.editPageBreadcrumbShow = false;
                this.editPageShow = false;
                this.detailPageBreadcrumbShow = false;
                this.detailPageShow = false;
                this.clearFormData();
            },
            // 显示表单详情页面函数
            showDetailPage: function () {
                this.listPageShow = false;
                this.addPageBreadcrumbShow = false;
                this.addPageShow = false;
                this.editPageBreadcrumbShow = false;
                this.editPageShow = false;
                this.detailPageBreadcrumbShow = true;
                this.detailPageShow = true;
            },
            // 显示新增表单页面函数
            showAddPage: function () {
                this.listPageShow = false;
                this.addPageBreadcrumbShow = true;
                this.addPageShow = true;
                this.editPageBreadcrumbShow = false;
                this.editPageShow = false;
            },
            // 显示新增表单页面函数
            showEditPage: function () {
                this.listPageShow = false;
                this.addPageBreadcrumbShow = false;
                this.addPageShow = false;
                this.editPageBreadcrumbShow = true;
                this.editPageShow = true;
            },

            // 按钮函数
            // 添加表单重置函数
            resetForm: function () {
                this.clearFormData();
            },

            //搜索按钮
            handleSearch: function () {
                var vueObj = this;
                getClasePageAxios(this.currentPage, this.pageSize, this.searchValue).then(
                    (response) => {
                        if (response.data.code === 1) {
                            this.$message.success('搜索成功！共搜索到' + response.data.data.total + '条记录');
                            vueObj.tableData = response.data.data.records;
                            vueObj.total = response.data.data.total;
                            vueObj.pageSize = response.data.data.size;
                            vueObj.currentPage = response.data.data.current;
                            vueObj.pages = response.data.data.pages;
                        } else {
                            this.$message.error(response.data.msg)
                        }
                    }).catch((err) => {
                    this.$message.error('请求出错了：' + err);
                })
            },
            //详情按钮处理函数
            handleDetail: async function (index, row) {

                var vueObj = this;
                await getClaseDetailAxios(row.claseId).then(
                    (response) => {
                        if (response.data.code === 1) {
                            vueObj.tableDetailData = response.data.data;
                        } else {
                            this.$message.error(response.data.msg)
                        }
                    }).catch((err) => {
                    this.$message.error('请求出错了：' + err);
                });

                console.log(vueObj.tableDetailData);
                this.showDetailPage();
            },
            // 编辑按钮处理函数
            handleEdit: async function (index, row) {
                this.showEditPage();

                var vueObj = this;
                await getClaseDetailAxios(row.claseId).then(
                    (response) => {
                        if (response.data.code === 1) {
                            vueObj.tableDetailData = response.data.data;
                        } else {
                            this.$message.error(response.data.msg)
                        }
                    }).catch((err) => {
                    this.$message.error('请求出错了：' + err);
                });

                this.form.claseId = this.tableDetailData.claseId;
                this.form.claseName = this.tableDetailData.claseName;
                let time = new Date();
                time.setFullYear(this.tableDetailData.timeOfEnrollment);
                this.form.time = time;
                this.form.claseTeacherId = this.tableDetailData.claseTeacherId;
                this.form.claseTeacherName = this.tableDetailData.claseTeacherName;
                this.form.claseLeaderId = this.tableDetailData.claseLeaderId;
                this.form.claseLeaderName = this.tableDetailData.claseLeaderName;
                this.tableDetailData.courseList.forEach((course) => {
                    this.form.courseIdList.push(course.courseId);
                });
            },
            //删除按钮处理函数
            handleDelete: function (index, row) {
                this.$confirm('此操作将永久删除该项内容, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    deleteClaseAxios(row.claseId).then(
                        res => {
                            if (res.data.code === 1) {
                                this.$message.success('删除成功！')
                                this.getClasePage()
                            } else {
                                this.$message.error(res.data.msg)
                            }
                        }
                    )
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            handleClaseCurrentChange: function (currentPage) {
                this.currentPage = currentPage;
                if (this.searchValue !== "") {
                    this.handleSearch();
                } else {
                    this.getClasePage();
                }
            },

            // 表单提交函数
            // 添加表单提交
            submitAddForm: function () {
                let verification = this.validateForm("addForm");
                if (verification) {
                    this.$confirm('此操作将提交表单内容, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        this.form.timeOfEnrollment = this.form.time.getFullYear();
                        console.log(this.form.timeOfEnrollment);
                        addClaseAxios(this.form).then(
                            res => {
                                if (res.data.code === 1) {
                                    this.$message.success('提交成功！')
                                    this.getClasePage()
                                } else {
                                    this.$message.error(res.data.msg)
                                }
                            }
                        )
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消提交'
                        });
                    });
                }
            },
            // 修改表单提交
            submitEditForm: function () {
                let verification = this.validateForm("editForm");
                if (verification) {
                    this.$confirm('此操作将提交表单内容, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        console.log(this.form);
                        editClaseAxios(this.form).then(
                            res => {
                                if (res.data.code === 1) {
                                    this.$message.success('提交成功！')
                                    this.getClasePage()
                                } else {
                                    this.$message.error(res.data.msg)
                                }
                            }
                        )
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消提交'
                        });
                    });
                }
            },
            //验证表单
            validateForm: function (formRef) {
                let flag = false;
                this.$refs[formRef].validate((valid) => {
                    if (valid === true) {
                        flag = true;
                    }
                });
                return flag;
            },
            logout: function () {

                console.log('logout');
                this.$confirm('即将退出系统, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    logoutAxios().then(
                        res => {
                            if (res.data.code === 1) {
                                window.localStorage.removeItem('loginUser');
                                window.location.href = "../login/login.html"
                            } else {
                                this.$message.error(res.data.msg)
                            }
                        }
                    ).catch((err) => {
                        this.$message.error('请求出错了：' + err);
                    })
                })
            }
        },
        created() {
            //获取当前登录用户
            this.getUser();
        },
        mounted() {
            this.$message.success('登录成功');
            //获取表单数据
            this.getClasePage();

            //获取候选项数据
            this.getTeacherList();
            this.getClaseList();
            this.getStudentList();
            this.getCourseList();

            this.isAdmin = this.loginUser.accountType !== "1";
        }
    });
</script>

</body>
</html>
